{% extends 'base.html' %}
{% block content %}
{%load static%}
<div class="login-container">
  <div class="row">
      <div class="col-lg-8">
          <div class="login-box">
            <h1>login</h1>
<form class="site-form" action="{% url 'accounts:login' %}" method="post">
  {{form}}
  {% csrf_token %}
  {% if request.GET.next %}
  <input type="hidden" name="next" value="{{request.GET.next}}">
  {% endif %}
  <input type="submit" value="login">
  <p class="do-you-have">
    حساب کاربری ندارید ؟
    <a href={% url 'accounts:signup'%}>ایجاد حساب کاربری</a>
    .کمتر از یک دقیقه از زمان شما را خواهد گرفت
  </p>
</form>
</div>
</div>
<div class="col-lg-4">
  <div class="login-img-container">
      <img src="{% static 'images/s1.jpg' %}" alt="">
  </div>
</div>
</div>
</div>
{%endblock%}