
    {%load static %}
    <header>
      <nav>
        <div class="nav-right">
          <a href=""><i class="far fa-user"></i></a>
          <a href=""><i class="fas fa-shopping-cart"></i></a>
          <a href=""><i class="fas fa-home"></i></a>
          <a href=""><i class="fas fa-search"></i></a>
        </div>

              
              
        <div class="nav-left">
          {% if user.is_authenticated %}
          <div  class="register-login-btn" >
            <i class="fas fa-user"></i>
            <a href="{% url 'accounts:logout'  %}">logout</a>
      </div>

          {% else %}
                
                <div class="register-login-btn">
                  <i class="fas fa-user"></i>
                  <a href="{% url 'accounts:register'  %}" >login / logup</a>
                  </div>
          {% endif %}
              
        </div>
      </nav>



      <section class="slider">
        <div class="slides">
          <div class="item  active" id="slide1">
            <img src="{% static 'imageس/m1.jpg' %}"  alt="" />
            <span>آهنگ ها رو زنده تر از اون چیزی که هستن گوش بده</span>
          </div>

          <div class="item " id="slide2">
            <img src="{% static 'imageس/m2.jpg' %}" alt="" />
            <span style="color: white;"
              >کیفیت صدایی که همیشه<br />
              دنبالش بودی اینجاست</span
            >
          </div>
          <div class="item " id="slide3">
            <img src="{% static 'imageس/m3.jpg' %}" alt="" />
            <span>رویا هاتو با صدای بلند گوش بده</span>
          </div>
        </div>
        <div class="buttons">
          <i onclick="setSlide('slide1' , 1)" class="fas fa-circle"></i>
          <i onclick="setSlide('slide2' , 2)" class="fas fa-circle"></i>
          <i onclick="setSlide('slide3' , 3)" class="fas fa-circle"></i>
        </div>
      

      <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/main.js'%}"></script>

<script src="{% static 'js/owl.carousel.min.js'%}"></script>
</section>

    </header>

  