@font-face{
    font-family: 'shabnam';
    src: url('shabnam.ttf') format('ttf');
}



*{
    direction: rtl;
    font-family: 'shabnam';
    box-sizing: border-box;
}

body{
    font-size: 16px ;
    margin: 0px ;
}

a{
    text-decoration: none ;
}